## Import the dataset from a address and assign it to a variable called wine

In [43]:
import pandas as pd

In [44]:
wine=pd.read_table("C:/Users/sushr/Downloads/wine.data",sep=",")
wine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [45]:
wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1, inplace=True)
wine

     14.23  1.71  15.6  127  3.06  2.29  1.04
0    13.20  1.78  11.2  100  2.76  1.28  1.05
1    13.16  2.36  18.6  101  3.24  2.81  1.03
2    14.37  1.95  16.8  113  3.49  2.18  0.86
3    13.24  2.59  21.0  118  2.69  1.82  1.04
4    14.20  1.76  15.2  112  3.39  1.97  1.05
..     ...   ...   ...  ...   ...   ...   ...
172  13.71  5.65  20.5   95  0.61  1.06  0.64
173  13.40  3.91  23.0  102  0.75  1.41  0.70
174  13.27  4.28  20.0  120  0.69  1.35  0.59
175  13.17  2.59  20.0  120  0.68  1.46  0.60
176  14.13  4.10  24.5   96  0.76  1.35  0.61

[177 rows x 7 columns]

### Assign the columns as below:
- 1) alcohol
- 2) malic_acid
- 3) alcalinity_of_ash
- 4) magnesium
- 5) flavanoids
- 6) proanthocyanins
- 7) hue

In [46]:
# by columns attribute
wine.columns = ["alcohol",
                "malic_acid",
                "alcalinity_of_ash",
                "magnesium",
                "flavanoids",
                "proanthocyanins",
                "hue"]
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,0.64
173,13.40,3.91,23.0,102,0.75,1.41,0.70
174,13.27,4.28,20.0,120,0.69,1.35,0.59
175,13.17,2.59,20.0,120,0.68,1.46,0.60
176,14.13,4.10,24.5,96,0.76,1.35,0.61

### Set the values of the first 3 rows from alcohol as NaN

In [47]:
import numpy as np
wine["alcohol"].iloc[:3]=np.nan
wine.head()

C:\Users\sushr\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Now set the value of the rows 3 and 4 of magnesium as NaN

In [48]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,0.64
173,13.40,3.91,23.0,102,0.75,1.41,0.70
174,13.27,4.28,20.0,120,0.69,1.35,0.59
175,13.17,2.59,20.0,120,0.68,1.46,0.60
176,14.13,4.10,24.5,96,0.76,1.35,0.61

In [49]:
wine["magnesium"][2:4]=np.nan
wine

<ipython-input-49-d479bd7529c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine["magnesium"][2:4]=np.nan
C:\Users\sushr\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,NaN,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [50]:
wine["alcohol"]=wine["alcohol"].fillna(10)
wine["magnesium"]=wine["magnesium"].fillna(100)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

In [51]:
# Another way 
# wine.fillna({"alcohol":10,"magnesium":100},inplace=True

### Count the number of missing values

In [52]:
wine.isnull().sum().sum()

0

### Create an array of 10 random numbers up until 10

In [53]:
a=np.random.randint(0,178,10)
a

array([ 98, 136,   9,  51, 113,  30,  27,  56, 142,  96])

### random numbers you generated as an index and assign NaN value to each of cell.

In [55]:
import numpy as np
wine.iloc[a]=np.nan

In [57]:
wine.head(40)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
17,14.19,1.59,16.5,108.0,3.93,1.86,1.23
18,13.64,3.10,15.2,116.0,3.03,1.66,0.96
19,14.06,1.63,16.0,126.0,3.17,2.10,1.09
20,12.93,3.80,18.6,102.0,2.41,1.98,1.03
21,13.71,1.86,16.6,101.0,2.88,1.69,1.11
22,12.85,1.60,17.8,95.0,2.37,1.46,1.09
23,13.50,1.81,20.0,96.0,2.61,1.66,1.12
24,13.05,2.05,25.0,124.0,2.68,1.92,1.13
25,13.39,1.77,16.1,93.0,2.94,1.45,0.92
26,13.30,1.72,17.0,94.0,2.19,1.35,1.02
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,14.02,1.68,16.0,96.0,2.33,1.98,1.04
29,13.73,1.50,22.5,101.0,3.25,2.38,1.19
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,13.68,1.83,17.2,104.0,2.69,1.97,1.23
32,13.76,1.53,19.5,132.0,2.74,1.35,1.25
33,13.51,1.80,19.0,110.0,2.53,1.54,1.10
34,13.48,1.81,20.5,100.0,2.98,1.86,1.04
35,13.28,1.64,15.5,110.0,2.68,1.36,1.09
36,13.05,1.65,18.0,98.0,2.43,1.44,1.12
37,13.07,1.50,15.5,98.0,2.64,1.37,1.18
38,14.22,3.99,13.2,128.0,3.04,2.08,0.89
39,13.56,1.71,16.2,117.0,3.29,2.34,0.95

### How many missing values do we have?

In [58]:
wine.isna().sum()

alcohol              10
malic_acid           10
alcalinity_of_ash    10
magnesium            10
flavanoids           10
proanthocyanins      10
hue                  10
dtype: int64

### Delete the rows that contain missing values

In [59]:
wine.dropna(axis=0,how="any",inplace=True)

In [60]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Print only the non-null values in alcohol

In [61]:
x=pd.notnull(wine["alcohol"])
wine[x].alcohol

0      10.00
1      10.00
2      10.00
3      13.24
4      14.20
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 167, dtype: float64

### Reset the index, so it starts with 0 again

In [62]:
wine.reset_index(inplace=True)
wine=wine.drop(columns="index")
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
...,...,...,...,...,...,...,...
162,13.71,5.65,20.5,95.0,0.61,1.06,0.64
163,13.40,3.91,23.0,102.0,0.75,1.41,0.70
164,13.27,4.28,20.0,120.0,0.69,1.35,0.59
165,13.17,2.59,20.0,120.0,0.68,1.46,0.60
166,14.13,4.10,24.5,96.0,0.76,1.35,0.61